mig/src/main/resources/xsd_versions/generated_1767671521697.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet href="GenHTML_TW.xslt" type="text/xsl"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:TW:N5107:R-00-05" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:ds="urn:wco:datamodel:WCO:DS:1" xmlns:tsw="urn:SingleWindow:TW" xmlns:twds="urn:wco:datamodel:TW:DS:1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:wco:datamodel:TW:N5107:R-00-05" version="R-00-05">
    <xsd:import namespace="urn:wco:datamodel:WCO:DS:1" schemaLocation="../common/WCODS_1p0.xsd"/>
    <xsd:import namespace="urn:wco:datamodel:TW:DS:1" schemaLocation="../common/TWDS_1p0.xsd"/>
    <!--
	Schema agency	: Taiwan Customs
	Schema type			: N5107
	Schema version		: R-00-05
	Schema date			: 2026/01/06

	Copyright (C) Taiwan Customs (2026). All Rights Reserved.
-->
    <xsd:element name="Response">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <ccts:UniqueID>07B</ccts:UniqueID>
                <ccts:Definition>Details of the response message.</ccts:Definition>
                <ccts:Cardinality>1</ccts:Cardinality>
                <ccts:ObjectClassTerm>Response</ccts:ObjectClassTerm>
                <tsw:Remark/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="IssueDateTime" type="ds:ResponseIssueDateTimeType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>WCOIDD029</ccts:UniqueID>
                            <ccts:DictionaryEntryName>Response. Issue. Date Time</ccts:DictionaryEntryName>
                            <ccts:Definition>Date at which a response was issued and when appropriate, signed or otherwise authenticated.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Response</ccts:ObjectClassTerm>
                            <ccts:PropertyTerm>Issue</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
                            <tsw:ChineseName>通知日期與時間</tsw:ChineseName>
                            <tsw:Remark/>
                            <tsw:Format>an14</tsw:Format>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AdditionalInformation">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>03A</ccts:UniqueID>
                            <ccts:Definition>Special request to government from Declarant to take or not to take action.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Additional Information</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID264</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Additional Information. Limit. Date Time</ccts:DictionaryEntryName>
                                        <ccts:Definition>Date and time by when the event has to be completed.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Additional Information</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Limit</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
                                        <tsw:ChineseName>補辦期限</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an8</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="LimitDateTime2" type="ds:AdditionalInformationLimitDateTime2Type">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID264</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Additional Information. Limit. Date Time2</ccts:DictionaryEntryName>
                                        <ccts:Definition>Date and time2 by when the event has to be completed.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Additional Information</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Limit</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Date Time2</ccts:RepresentationTerm>
                                        <tsw:ChineseName>補辦期限2</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an8</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ContactOffice">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>35A</ccts:UniqueID>
                            <ccts:Definition>Identifies the location of a government agency contact office.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Contact Office</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ID">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDG002</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Contact Office. Identification. Identifier</ccts:DictionaryEntryName>
                                        <ccts:Definition>Code specifying the location of a government office where contact can be made.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Contact Office</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                        <tsw:ChineseName>受理單位</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an..17</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:ContactOfficeIdentificationIDType">
                                            <xsd:minLength value="0"/>
                                            <xsd:maxLength value="17"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Status">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>12B</ccts:UniqueID>
                            <ccts:Definition>Details to identify the status.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Status</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NameCode">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID379</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Status. Name. Code</ccts:DictionaryEntryName>
                                        <ccts:Definition>Code specifying the processing status of a document.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Status</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                        <tsw:ChineseName>通關方式</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an..3</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:StatusNameCodeType">
                                            <xsd:minLength value="0"/>
                                            <xsd:maxLength value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Declaration">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>42A</ccts:UniqueID>
                            <ccts:Definition>Any statement or action, in any form prescribed or accepted by the Governmental Agency, giving information or particulars required by the Governmental Agency.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ID">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDD014</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Identification. Identifier</ccts:DictionaryEntryName>
                                        <ccts:Definition>Reference number identifying a specific document.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                        <tsw:ChineseName>報單號碼</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an14</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationIdentificationIDType">
                                            <xsd:length value="14"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="TotalPackageQuantity">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID146</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Total Package. Quantity</ccts:DictionaryEntryName>
                                        <ccts:Definition>Count of total number of packages of the entire declaration/ consignment.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Total Package</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                                        <tsw:ChineseName>總件數</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>n..8</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationTotalPackageQuantityType">
                                            <xsd:minInclusive value="0"/>
                                            <xsd:maxInclusive value="99999999"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="TypeCode">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDD013</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Type. Code</ccts:DictionaryEntryName>
                                        <ccts:Definition>Code specifying the name of a document.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                        <tsw:ChineseName>報單類別</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an2</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationTypeCodeType">
                                            <xsd:length value="2"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="Agent">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>05A</ccts:UniqueID>
                                        <ccts:Definition>Person authorized to act on behalf of another party.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR004</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Identification of a party authorised to act on behalf of another party.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>報關業者箱號</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an3</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:AgentIdentificationIDType">
                                                        <xsd:length value="3"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="RoleCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR005</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Role. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Code giving specific meaning to a party.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Role</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>*代理人號碼類別代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an2</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:AgentRoleCodeType">
                                                        <xsd:length value="2"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="tw_SubBoxID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW100</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Sub Box. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Sub-box code issued by Customs to a Customs broker.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Sub Box</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>報關業者箱號附碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an1</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:AgentSubBoxIDType">
                                                        <xsd:length value="1"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="BorderTransportMeans">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>15A</ccts:UniqueID>
                                        <ccts:Definition>Details of the means of transport crossing the border of the Customs territory.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" name="ArrivalDateTime" type="ds:BorderTransportMeansArrivalDateTimeType">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID172</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Border Transport Means. Arrival. Date Time</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Date and time / scheduled date and time of arrival of means of transport at (for air) first airport, (land) arrival at first border post and (sea) arrival at first port, coded.</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Arrival</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進口日期</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an8</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="TypeCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDT010</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Border Transport Means. Type. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Means and mode of transport used for crossing the border, coded.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>海空運別</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an1</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:BorderTransportMeansTypeCodeType">
                                                        <xsd:length value="1"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="Consignment">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>28A#</ccts:UniqueID>
                                        <ccts:Definition>Details about the transport between a consignor and a consignee as specified in the transport contract document.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Consignment</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" name="BoardedQuantity">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID314</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Consignment. Boarded. Quantity</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Total number shown on Bill of Lading or on split shipment. It will be the actual number of pieces boarded on the conveyance. (Not necessarily the smallest external packaging unit for the shipment).</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Consignment</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Boarded</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>併袋筆數</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>n..4</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:ConsignmentBoardedQuantityType">
                                                        <xsd:minInclusive value="0"/>
                                                        <xsd:maxInclusive value="9999"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element minOccurs="0" name="AssociatedTransportDocument">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>11A#</ccts:UniqueID>
                                                    <ccts:Definition>Association between Master Bill(s) and House Bill(s).</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Associated Transport Document</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ID">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOIDD008</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Associated Transport Document. Identification. Identifier</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Previous transport document number or other assigned reference number associated with the shipment. Applies to secondary cargo document report only.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Associated Transport Document</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>併袋號碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..16</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:AssociatedTransportDocumentIdentificationIDType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="16"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="GoodsShipment">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>67A</ccts:UniqueID>
                                        <ccts:Definition>Details about the movement and the handling of goods shipped together on one or more means of transport between original consignor and final consignee.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Goods Shipment</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Consignment">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>28A</ccts:UniqueID>
                                                    <ccts:Definition>Details about the transport between a consignor and a consignee as specified in the transport contract document.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Consignment</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element minOccurs="0" name="BorderTransportMeans">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>15A</ccts:UniqueID>
                                                                <ccts:Definition>Details of the means of transport crossing the border of the Customs territory.</ccts:Definition>
                                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="JourneyID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOID149</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Border Transport Means. Journey. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>To identify a journey of a means of transport, for example voyage number, flight number, trip number.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Journey</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>船舶航次（海）/航機班次（空）</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..12</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:BorderTransportMeansJourneyIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="12"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element minOccurs="0" name="Carrier">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>18A</ccts:UniqueID>
                                                                <ccts:Definition>Name and address details of the party undertaking or arranging transport of goods between named points.</ccts:Definition>
                                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Carrier</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="ID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDR012</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Carrier. Identification. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>To identify a party providing the transport of goods between named points.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Carrier</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>運輸業者/代理行代碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..14</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:CarrierIdentificationIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="14"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="4" name="TransportContractDocument">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>30B</ccts:UniqueID>
                                                                <ccts:Definition>Information about the consignment which corresponds to one transport contract. (Known as consignment by the Transport group).</ccts:Definition>
                                                                <ccts:Cardinality>1..4</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="ID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDD023</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Transport Contract Document. Identification. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Reference number to identify a document evidencing a transport contract.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>主提單號碼;分提單號碼;託運單主號;託運單分號</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..35</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:TransportContractDocumentIdentificationIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="35"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="TypeCode">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDD024</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Transport Contract Document. Type. Code</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Code to identify the type of a document evidencing a transport contract.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>*運輸合約文件類別代碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an3</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:TransportContractDocumentTypeCodeType">
                                                                                <xsd:length value="3"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="99" minOccurs="0" name="GovernmentAgencyGoodsItem">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>68A</ccts:UniqueID>
                                                    <ccts:Definition>Goods item as declared to Government Agency.</ccts:Definition>
                                                    <ccts:Cardinality>0..99</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Government Agency Goods Item</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="SequenceNumeric">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID006</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Government Agency Goods Item. Sequence. Numeric</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Number indicating the position in a sequence.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Government Agency Goods Item</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Sequence</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>項次</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>n..4</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:simpleType>
                                                            <xsd:restriction base="ds:GovernmentAgencyGoodsItemSequenceNumericType">
                                                                <xsd:minInclusive value="0"/>
                                                                <xsd:maxInclusive value="9999"/>
                                                            </xsd:restriction>
                                                        </xsd:simpleType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="9" minOccurs="0" name="AdditionalInformation">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>03A</ccts:UniqueID>
                                                                <ccts:Definition>Special request to government from Declarant to take or not to take action.</ccts:Definition>
                                                                <ccts:Cardinality>0..9</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Additional Information</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="StatementCode">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOID226</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Additional Information. Statement. Code</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Coded form of an additional statement.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Additional Information</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Statement</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>輸出入規定</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an3</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:AdditionalInformationStatementCodeType">
                                                                                <xsd:length value="3"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="9" name="Error">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>53A+</ccts:UniqueID>
                                                                <ccts:Definition>Details to identify data validation errors.</ccts:Definition>
                                                                <ccts:Cardinality>1..9</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Error</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="ValidationCode">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOID377</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Error. Validation. Code</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Code specifying a data validation error.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Error</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Validation</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>應補辦事項代碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an3</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:ErrorValidationCodeType">
                                                                                <xsd:length value="3"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="GovernmentProcedure">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>70A</ccts:UniqueID>
                                        <ccts:Definition>Details about the current and previous government procedure.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Government Procedure</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="tw_TransportTypeCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW051</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Government Procedure. Transport Type. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Import or export of declaration.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Government Procedure</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Transport Type</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進出口別代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an1</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:GovernmentProcedureTransportTypeCodeType">
                                                        <xsd:length value="1"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="Packaging">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>93A</ccts:UniqueID>
                                        <ccts:Definition>Details related to packaging.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Packaging</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TypeCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID141</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Packaging. Type. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Code specifying the type of package of an item.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Packaging</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>件數單位</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..3</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:PackagingTypeCodeType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="3"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
