mig/src/main/resources/xsd_versions/generated_1767331281528.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:DataStructure:2" xmlns:twds="urn:custom:twds" elementFormDefault="qualified">
  <xsd:element maxOccurs="1" minOccurs="1" name="Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="IssueDateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="AdditionalInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="LimitDateTime"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="ContactOffice">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="ID">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base="ds:ContactOfficeIdentificationIDType">
                      <xsd:minLength value="0"/>
                      <xsd:maxLength value="17"/>
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="Status">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="NameCode"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="1" minOccurs="1" name="Declaration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="ID"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TotalPackageQuantity"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TypeCode"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Agent">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ID"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="RoleCode"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="tw_SubBoxID"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
