mig/src/main/resources/template/harmo_prod/Schema/maindoc/N5110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="GenHTML_TW.xslt" type="text/xsl"?>
<!--
	Schema agency	: Taiwan Customs
	Schema type			: N5110
	Schema version		: R-00-05
	Schema date			: 2025/11/18

	Copyright (C) Taiwan Customs (2025). All Rights Reserved.
-->	
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:wco:datamodel:TW:N5110:R-00-05" version="R-00-05" xmlns="urn:wco:datamodel:TW:N5110:R-00-05" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:ds="urn:wco:datamodel:WCO:DS:1" xmlns:tsw="urn:SingleWindow:TW" xmlns:twds="urn:wco:datamodel:TW:DS:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="urn:wco:datamodel:WCO:DS:1" schemaLocation="../common/WCODS_1p0.xsd"/>
    <xsd:import namespace="urn:wco:datamodel:TW:DS:1" schemaLocation="../common/TWDS_1p0.xsd"/>
    <xsd:element name="Response">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <ccts:UniqueID>07B</ccts:UniqueID>
                <ccts:Definition>Details of the response message.</ccts:Definition>
                <ccts:Cardinality>1</ccts:Cardinality>
                <ccts:ObjectClassTerm>Response</ccts:ObjectClassTerm>
                <tsw:Remark/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="BankAccount">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>14A</ccts:UniqueID>
                            <ccts:Definition>Details required for payment to a financial institution.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Bank Account</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="ID">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID372</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Bank Account. Identification. Identifier</ccts:DictionaryEntryName>
                                        <ccts:Definition>Bank account identification.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Bank Account</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                        <tsw:ChineseName>銷帳編號</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an..16</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:BankAccountIdentificationIDType">
                                            <xsd:minLength value="0"/>
                                            <xsd:maxLength value="16"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ReferenceID">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDR069</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Bank Account. Reference. Identifier</ccts:DictionaryEntryName>
                                        <ccts:Definition>Bank that is to receive the deposit for duties, taxes, and fees.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Bank Account</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Reference</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                        <tsw:ChineseName>海關帳戶</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an..17</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:BankAccountReferenceIDType">
                                            <xsd:minLength value="0"/>
                                            <xsd:maxLength value="17"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Status">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>12B</ccts:UniqueID>
                            <ccts:Definition>Details to identify the status.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Status</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NameCode">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID379</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Status. Name. Code</ccts:DictionaryEntryName>
                                        <ccts:Definition>Code specifying the processing status of a document.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Status</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                        <tsw:ChineseName>通關方式</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an..3</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:StatusNameCodeType">
                                            <xsd:minLength value="0"/>
                                            <xsd:maxLength value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Declaration">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>42A</ccts:UniqueID>
                            <ccts:Definition>Any statement or action, in any form prescribed or accepted by the Governmental Agency, giving information or particulars required by the Governmental Agency.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ID">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDD014</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Identification. Identifier</ccts:DictionaryEntryName>
                                        <ccts:Definition>Reference number identifying a specific document.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                        <tsw:ChineseName>報單號碼</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an14</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationIdentificationIDType">
                                            <xsd:length value="14"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="TotalPackageQuantity">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOID146</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Total Package. Quantity</ccts:DictionaryEntryName>
                                        <ccts:Definition>Count of total number of packages of the entire declaration/ consignment.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Total Package</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                                        <tsw:ChineseName>總件數</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>n..8</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationTotalPackageQuantityType">
                                            <xsd:minInclusive value="0"/>
                                            <xsd:maxInclusive value="99999999"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="TypeCode">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>WCOIDD013</ccts:UniqueID>
                                        <ccts:DictionaryEntryName>Declaration. Type. Code</ccts:DictionaryEntryName>
                                        <ccts:Definition>Code specifying the name of a document.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                                        <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                        <tsw:ChineseName>報單類別</tsw:ChineseName>
                                        <tsw:Remark/>
                                        <tsw:Format>an2</tsw:Format>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:restriction base="ds:DeclarationTypeCodeType">
                                            <xsd:length value="2"/>
                                        </xsd:restriction>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Agent">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>05A</ccts:UniqueID>
                                        <ccts:Definition>Person authorized to act on behalf of another party.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR004</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Identification of a party authorised to act on behalf of another party.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>報關業者箱號</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an3</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:AgentIdentificationIDType">
                                                        <xsd:length value="3"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="RoleCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR005</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Role. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Code giving specific meaning to a party.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Role</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>*代理人號碼類別代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an2</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:AgentRoleCodeType">
                                                        <xsd:length value="2"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="tw_SubBoxID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW100</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Agent. Sub Box. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Sub-box code issued by Customs to a Customs broker.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Agent</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Sub Box</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>報關業者箱號附碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an1</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:AgentSubBoxIDType">
                                                        <xsd:length value="1"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="BorderTransportMeans">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>15A</ccts:UniqueID>
                                        <ccts:Definition>Details of the means of transport crossing the border of the Customs territory.</ccts:Definition>
                                        <ccts:Cardinality>0..1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ArrivalDateTime" type="ds:BorderTransportMeansArrivalDateTimeType">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID172</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Border Transport Means. Arrival. Date Time</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Date and time / scheduled date and time of arrival of means of transport at (for air) first airport, (land) arrival at first border post and (sea) arrival at first port, coded.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Arrival</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進口日期</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an8</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="DutyTaxFee">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>50A</ccts:UniqueID>
                                        <ccts:Definition>Calculation one instance one duty, one tax, one fee about other duty tax fee information.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Duty Tax Fee</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="tw_TotalDutyTaxFeeAmount">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW029</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Duty Tax Fee. Total Duty Tax Fee. Amount</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Total amount of  duty/tax/fee.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Duty Tax Fee</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Total Duty Tax Fee</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>稅費合計</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>n..10</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:DutyTaxFeeTotalDutyTaxFeeAmountType">
                                                        <xsd:minInclusive value="0"/>
                                                        <xsd:maxInclusive value="9999999999"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Payment">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>94A</ccts:UniqueID>
                                                    <ccts:Definition>Information about payment details.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Payment</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="DueDateTime" type="ds:PaymentDueDateTimeType">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID376#</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Payment. Due. Date Time</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Date when an amount due should be made available to the creditor under the terms of payment.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Payment</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Due</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Date Time</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>繳款截止日</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an8</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                    <xsd:element name="ReferenceID">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID014</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Payment. Reference. Identifier</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Reference number specifying a payment of a duty or tax.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Payment</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Reference</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>稅費繳納證號碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an14</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:PaymentReferenceIDType">
                                                                    <xsd:length value="14"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element minOccurs="0" name="tw_IssueReasonCode">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>TW070</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Payment. Issue Reason. Code</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Code for reason of issuing duty memo/remittance application.</ccts:Definition>
                                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Payment</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Issue Reason</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>核發原因代碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an1</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="twds:PaymentIssueReasonCodeType">
                                                                    <xsd:length value="1"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="GoodsShipment">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>67A</ccts:UniqueID>
                                        <ccts:Definition>Details about the movement and the handling of goods shipped together on one or more means of transport between original consignor and final consignee.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Goods Shipment</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Consignment">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>28A</ccts:UniqueID>
                                                    <ccts:Definition>Details about the transport between a consignor and a consignee as specified in the transport contract document.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Consignment</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="BorderTransportMeans">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>15A</ccts:UniqueID>
                                                                <ccts:Definition>Details of the means of transport crossing the border of the Customs territory.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="ID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDT006</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Border Transport Means. Identification. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Identifier to identify the means of transport used in crossing the border.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>船（機）代碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..25</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:BorderTransportMeansIdentificationIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="25"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="JourneyID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOID149</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Border Transport Means. Journey. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>To identify a journey of a means of transport, for example voyage number, flight number, trip number.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Journey</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>船舶航次（海）/航機班次（空）</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..12</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:BorderTransportMeansJourneyIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="12"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="2" name="TransportContractDocument">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>30B</ccts:UniqueID>
                                                                <ccts:Definition>Information about the consignment which corresponds to one transport contract. (Known as consignment by the Transport group).</ccts:Definition>
                                                                <ccts:Cardinality>1..2</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="ID">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDD023</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Transport Contract Document. Identification. Identifier</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Reference number to identify a document evidencing a transport contract.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>主提單號碼;分提單號碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an..35</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:TransportContractDocumentIdentificationIDType">
                                                                                <xsd:minLength value="0"/>
                                                                                <xsd:maxLength value="35"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="TypeCode">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>WCOIDD024</ccts:UniqueID>
                                                                            <ccts:DictionaryEntryName>Transport Contract Document. Type. Code</ccts:DictionaryEntryName>
                                                                            <ccts:Definition>Code to identify the type of a document evidencing a transport contract.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Transport Contract Document</ccts:ObjectClassTerm>
                                                                            <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                                            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                            <tsw:ChineseName>*運輸合約文件類別代碼</tsw:ChineseName>
                                                                            <tsw:Remark/>
                                                                            <tsw:Format>an3</tsw:Format>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:simpleContent>
                                                                            <xsd:restriction base="ds:TransportContractDocumentTypeCodeType">
                                                                                <xsd:length value="3"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="CustomsValuation">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>41A</ccts:UniqueID>
                                                    <ccts:Definition>Valuation details applying to the shipment.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Customs Valuation</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="OtherChargeDeductionAmount">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID181</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Customs Valuation. Other Charge Deduction. Amount</ccts:DictionaryEntryName>
                                                                <ccts:Definition>An amount added or subtracted from the total invoice price not previously taken into account when determining the Customs value.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Customs Valuation</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Other Charge Deduction</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>營業稅稅基</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>n..12</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:CustomsValuationOtherChargeDeductionAmountType">
                                                                    <xsd:minInclusive value="0"/>
                                                                    <xsd:maxInclusive value="999999999999"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="9" name="DutyTaxFee">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>50A#</ccts:UniqueID>
                                                    <ccts:Definition>Calculation one instance one duty, one tax, one fee about other duty tax fee information.</ccts:Definition>
                                                    <ccts:Cardinality>1..9</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Duty Tax Fee</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="AdValoremTaxBaseAmount">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID116</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Duty Tax Fee. AdValorem Tax Base. Amount</ccts:DictionaryEntryName>
                                                                <ccts:Definition>To specify the amount on which a duty or tax or fee will be assessed.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Duty Tax Fee</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>AdValorem Tax Base</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>稅費金額</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>n..10</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:DutyTaxFeeAdValoremTaxBaseAmountType">
                                                                    <xsd:minInclusive value="0"/>
                                                                    <xsd:maxInclusive value="9999999999"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="TypeCode">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOID113</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Duty Tax Fee. Type. Code</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Code specifying a type of duty or tax applicable to commodities or a type of tax or fee applicable to services.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Duty Tax Fee</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>稅費代號</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..3</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:DutyTaxFeeTypeCodeType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="3"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="GovernmentAgencyGoodsItem">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>68A</ccts:UniqueID>
                                                    <ccts:Definition>Goods item as declared to Government Agency.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Government Agency Goods Item</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Commodity">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>23A</ccts:UniqueID>
                                                                <ccts:Definition>Details about the properties of the goods.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Commodity</ccts:ObjectClassTerm>
                                                                <tsw:Remark/>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="Classification">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">
                                                                            <ccts:UniqueID>21A</ccts:UniqueID>
                                                                            <ccts:Definition>Details about the non-commercial categorization of a commodity by a standard-setting organization.</ccts:Definition>
                                                                            <ccts:Cardinality>1</ccts:Cardinality>
                                                                            <ccts:ObjectClassTerm>Classification</ccts:ObjectClassTerm>
                                                                            <tsw:Remark/>
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="ID">
                                                                                <xsd:annotation>
                                                                                    <xsd:documentation xml:lang="en">
                                                                                        <ccts:UniqueID>WCOID145</ccts:UniqueID>
                                                                                        <ccts:DictionaryEntryName>Classification. Identification. Identifier</ccts:DictionaryEntryName>
                                                                                        <ccts:Definition>The non-commercial categorization of a commodity by a standard-setting organization.</ccts:Definition>
                                                                                        <ccts:Cardinality>1</ccts:Cardinality>
                                                                                        <ccts:ObjectClassTerm>Classification</ccts:ObjectClassTerm>
                                                                                        <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                                        <tsw:ChineseName>貨品分類號列</tsw:ChineseName>
                                                                                        <tsw:Remark/>
                                                                                        <tsw:Format>an11</tsw:Format>
                                                                                    </xsd:documentation>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:simpleContent>
                                                                                        <xsd:restriction base="ds:ClassificationIdentificationIDType">
                                                                                            <xsd:length value="11"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleContent>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Importer">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>74A</ccts:UniqueID>
                                        <ccts:Definition>Party who makes -or on whose behalf a Customs clearing agent or other authorized person makes - an import declaration.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Importer</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR038</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Importer. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Identifier of party who makes - or on whose behalf a Customs clearing agent or other authorised person makes - an import declaration. This may include a person who has possession of the goods or to whom the goods are consigned.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Importer</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進口人(納稅義務人)統一編號</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..14</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:ImporterIdentificationIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="14"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element minOccurs="0" name="Name">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR037</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Importer. Name. Text</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Name [and address] of party who makes-or on whose behalf a Customs clearing agent or other authorized person makes- an import declaration. This may include a person who has possession of the goods or to whom the goods are consigned.</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Importer</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進口人(納稅義務人)英文名稱</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..80</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:ImporterNameTextType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="80"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element minOccurs="0" name="tw_ChineseName">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW001</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Importer. Chinese Name. Text</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Name  of the importer  ( duty payer) in Chinese.</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Importer</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Chinese Name</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>進口人(納稅義務人)中文名稱</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..70</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:ImporterChineseNameTextType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="70"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="tw_TypeCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW104</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Importer. Type. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Code giving specific meaning to a party type, example passport number,identification number,BAN ID.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Importer</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>身分識別代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..3</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:ImporterTypeCodeType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="3"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Packaging">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>93A</ccts:UniqueID>
                                        <ccts:Definition>Details related to packaging.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Packaging</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TypeCode">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID141</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Packaging. Type. Code</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Code specifying the type of package of an item.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Packaging</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Type</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>件數單位</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..3</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:PackagingTypeCodeType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="3"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

