mig/src/main/resources/template/harmo_prod/Schema/maindoc/N5158.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="GenHTML_TW.xslt" type="text/xsl"?>
<!--
	Schema agency	: Taiwan Customs
	Schema type			: N5158
	Schema version		: R-01-00
	Schema date			: 2025/11/18

	Copyright (C) Taiwan Customs (2025). All Rights Reserved.
-->	
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:wco:datamodel:TW:N5158:R-01-00" version="R-01-00" xmlns="urn:wco:datamodel:TW:N5158:R-01-00" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:ds="urn:wco:datamodel:WCO:DS:1" xmlns:tsw="urn:SingleWindow:TW" xmlns:twds="urn:wco:datamodel:TW:DS:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="urn:wco:datamodel:WCO:DS:1" schemaLocation="../common/WCODS_1p0.xsd"/>
    <xsd:import namespace="urn:wco:datamodel:TW:DS:1" schemaLocation="../common/TWDS_1p0.xsd"/>
    <xsd:element name="Response">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <ccts:UniqueID>07B</ccts:UniqueID>
                <ccts:Definition>Details of the response message.</ccts:Definition>
                <ccts:Cardinality>1</ccts:Cardinality>
                <ccts:ObjectClassTerm>Response</ccts:ObjectClassTerm>
                <tsw:Remark/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Declaration">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <ccts:UniqueID>42A</ccts:UniqueID>
                            <ccts:Definition>Any statement or action, in any form prescribed or accepted by the Governmental Agency, giving information or particulars required by the Governmental Agency.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClassTerm>Declaration</ccts:ObjectClassTerm>
                            <tsw:Remark/>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="AdditionalDocument">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>02A</ccts:UniqueID>
                                        <ccts:Definition>Details related to additional documents supplied as part of a declaration or sought as part of a response.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Additional Document</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDD005</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Additional Document. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Identifier of a document providing additional information.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Additional Document</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>普通准單號碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..17</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:AdditionalDocumentIdentificationIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="17"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="BorderTransportMeans">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>15A</ccts:UniqueID>
                                        <ccts:Definition>Details of the means of transport crossing the border of the Customs territory.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDT006</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Border Transport Means. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Identifier to identify the means of transport used in crossing the border.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>船（機）代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..25</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:BorderTransportMeansIdentificationIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="25"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="JourneyID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOID149</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Border Transport Means. Journey. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>To identify a journey of a means of transport, for example voyage number, flight number, trip number.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Border Transport Means</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Journey</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>船舶航次（海）/航機班次（空）</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..12</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:BorderTransportMeansJourneyIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="12"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Carrier">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>18A</ccts:UniqueID>
                                        <ccts:Definition>Name and address details of the party undertaking or arranging transport of goods between named points.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Carrier</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>WCOIDR012</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Carrier. Identification. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>To identify a party providing the transport of goods between named points.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Carrier</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>運輸業者/代理行代碼</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..14</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="ds:CarrierIdentificationIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="14"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="99" name="Consignment">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>28A</ccts:UniqueID>
                                        <ccts:Definition>Details about the transport between a consignor and a consignee as specified in the transport contract document.</ccts:Definition>
                                        <ccts:Cardinality>1..99</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Consignment</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="GoodsLocation">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>64A</ccts:UniqueID>
                                                    <ccts:Definition>Information about the place where the goods are located.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Goods Location</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ID">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOIDL017</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Goods Location. Identification. Identifier</ccts:DictionaryEntryName>
                                                                <ccts:Definition>To identify the place where goods are located.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Goods Location</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>卸存地點代碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..8</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:GoodsLocationIdentificationIDType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="8"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element minOccurs="0" name="TransitDestination">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>26B</ccts:UniqueID>
                                                    <ccts:Definition>Place at which the goods are destined under Customs control of transit procedure.</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Transit Destination</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ID">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>WCOIDL008</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Transit Destination. Identification. Identifier</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Identification of the place at which the goods are destined under Customs control of transit procedure.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Transit Destination</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>轉運/轉口地點代碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..8</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="ds:TransitDestinationIdentificationIDType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="8"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element minOccurs="0" name="tw_SpecialPermit">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>TW15A</ccts:UniqueID>
                                                    <ccts:Definition>Details indicating special permit.</ccts:Definition>
                                                    <ccts:Cardinality>0..1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Special Permit</ccts:ObjectClassTerm>
                                                    <tsw:Remark/>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="tw_ID">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>D005*</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Special Permit. Identification. Identifier</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Identifier of a document providing additional information.</ccts:Definition>
                                                                <ccts:Cardinality>1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Special Permit</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Identification</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>特別准單號碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..17</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="twds:SpecialPermitIdentificationIDType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="17"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element minOccurs="0" name="tw_StatementTypeCode">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">
                                                                <ccts:UniqueID>369*</ccts:UniqueID>
                                                                <ccts:DictionaryEntryName>Special Permit. Statement Type. Code</ccts:DictionaryEntryName>
                                                                <ccts:Definition>Code qualifying the subject of the additional statement.</ccts:Definition>
                                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                                <ccts:ObjectClassTerm>Special Permit</ccts:ObjectClassTerm>
                                                                <ccts:PropertyTerm>Statement Type</ccts:PropertyTerm>
                                                                <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                                                                <tsw:ChineseName>特別准單核發原因代碼</tsw:ChineseName>
                                                                <tsw:Remark/>
                                                                <tsw:Format>an..3</tsw:Format>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:restriction base="twds:SpecialPermitStatementTypeCodeType">
                                                                    <xsd:minLength value="0"/>
                                                                    <xsd:maxLength value="3"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PreviousDocument">
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="en">
                                        <ccts:UniqueID>99A#</ccts:UniqueID>
                                        <ccts:Definition>Information relating to the previous document.</ccts:Definition>
                                        <ccts:Cardinality>1</ccts:Cardinality>
                                        <ccts:ObjectClassTerm>Previous Document</ccts:ObjectClassTerm>
                                        <tsw:Remark/>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="tw_FunctionalReferenceID">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">
                                                    <ccts:UniqueID>D026*</ccts:UniqueID>
                                                    <ccts:DictionaryEntryName>Previous Document. Functional Reference. Identifier</ccts:DictionaryEntryName>
                                                    <ccts:Definition>Reference number identifying a specific information exchange.</ccts:Definition>
                                                    <ccts:Cardinality>1</ccts:Cardinality>
                                                    <ccts:ObjectClassTerm>Previous Document</ccts:ObjectClassTerm>
                                                    <ccts:PropertyTerm>Functional Reference</ccts:PropertyTerm>
                                                    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                                                    <tsw:ChineseName>原訊息編號</tsw:ChineseName>
                                                    <tsw:Remark/>
                                                    <tsw:Format>an..20</tsw:Format>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:restriction base="twds:PreviousDocumentFunctionalReferenceIDType">
                                                        <xsd:minLength value="0"/>
                                                        <xsd:maxLength value="20"/>
                                                    </xsd:restriction>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

